[Unit]
Description=Binnacle Git credential-broker socket (default disabled)
Documentation=https://github.com/grammy-jiang/binnacle/tree/master/docs/operations

[Socket]
ListenStream=/run/binnacle-git-credential/broker.sock
Accept=no
SocketUser=binnacle-git-credential
SocketGroup=binnacle-git-credential-client
SocketMode=0660
DirectoryMode=0710
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
